In [197]:
import pandas as pd
import numpy as np

In [198]:
#df = pd.read_excel('/Users/prajwal/Desktop/Columbia/C4SR/mn_1880/not so confident.xlsx')

In [199]:
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/MN_1880_final_output_tesseract.csv')

/Users/prajwal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [200]:
#df_slice1 = df.loc[df['filter1']==1]

In [201]:
df_slice1 = df

In [202]:
try:
    df_slice1 = df_slice1.rename({'clean address': 'clean_address'}, axis=1)
except:
    pass
try:
    df = df.rename({'clean address': 'clean_address'}, axis=1)
except:
    pass

In [203]:
#slice1_addresses = list(dict(df_slice1['clean_address']).values()) #was initially uncommented



#slice1_addresses = list(dict(df_slice1['clean address']).values())

In [204]:
slice1_addresses = list(dict(df_slice1['Full Address']).values())

In [205]:
modified_clean_address = df['Full Address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")


"""


#modified_clean_address = df['clean_address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")
modified_clean_address = modified_clean_address.str.replace("hN", "h N")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(".5 ", " ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(",h ", ", h ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(",h", ", h ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")
modified_clean_address = modified_clean_address.str.replace("'wav", "'way")
modified_clean_address = modified_clean_address.str.replace("B'way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B'kly n", "B'klyn")
modified_clean_address = modified_clean_address.str.replace(",n", " n")
modified_clean_address = modified_clean_address.str.replace("W.h", " Wh")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("-h.", "h.")
#modified_clean_address = modified_clean_address.str.replace("H()", "h.")
#modified_clean_address = modified_clean_address.str.replace("*", " ")
#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")

#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")

#modified_clean_address = modified_clean_address.str.replace("^h", "  h")
#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")

#modified_clean_address = modified_clean_address.str.replace(". .", " ")
"""

'\n\n\n#modified_clean_address = df[\'clean_address\'].str.replace(\'Ã¢Â\x80Â\x99\',"\'").str.replace(\'Ã¢Â\x80Â\x99\',"\'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")\nmodified_clean_address = modified_clean_address.str.replace("hN", "h N")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(".5 ", " ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(",h ", ", h ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(",h", ", h ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")\nmodified_clean_address = modified_clean_address.str.replace("\'wav", "\'way")\nmodified_clean_address = modified_clean_address.str.replace("B\'way", "Broadway")\nmodified_clean_address = modified_clean_address.str.replace("B way", "Broadway")\nmodified_clean_address = modified_clean_address.str.replace("B\'kly n", "B\'klyn")\nmodified_clean_address = modified_clean_address.str.replace(",n", " n")\nmodified_clean_address = modified_clean_address.str.replace("W.h", " Wh")\nmodified_clean_address = modified_clean_address.str.replace("h-", " h ")\nmodified_clean_address = modified_clean_address.str.replace("h-", " h ")\nmodified_clean_address = modified_clean_address.str.replace("-h.", "h.")\n#modified_clean_address = modified_clean_address.str.replace("H()", "h.")\n#modified_clean_address = modified_clean_address.str.replace("*", " ")\n#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")\n\n#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")\n\n#modified_clean_address = modified_clean_address.str.replace("^h", "  h")\n#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")\n\n#modified_clean_address = modified_clean_address.str.replace(". .", " ")\n'

In [206]:
for i in range(0,len(modified_clean_address)):
    if str(modified_clean_address[i]) == 'nan':
        print(i, modified_clean_address[i])
        modified_clean_address[i] = ''

98501 nan
102680 nan
105736 nan
110739 nan
111389 nan
111722 nan
111975 nan
113237 nan
113240 nan
113494 nan
117618 nan
117801 nan
118149 nan
122033 nan
124147 nan
124325 nan
125279 nan
126985 nan
127333 nan
128137 nan
130091 nan
131962 nan
132077 nan
133870 nan
134003 nan
136609 nan
140009 nan
140023 nan
140289 nan
141345 nan
142821 nan
147118 nan
148218 nan
149715 nan
152755 nan
162894 nan
163100 nan
163429 nan
165105 nan
166960 nan
167760 nan
170112 nan
171026 nan
171489 nan
172259 nan
172357 nan
176891 nan
177611 nan
177908 nan
178456 nan
178581 nan
178743 nan
180490 nan
180585 nan
180683 nan
181070 nan
182962 nan
189395 nan
193735 nan
195360 nan
201182 nan
205490 nan
210888 nan
217022 nan
218440 nan
220650 nan
222980 nan
226658 nan
230284 nan
233956 nan
245647 nan
246872 nan
247189 nan
249395 nan
250116 nan
251519 nan
255854 nan
258061 nan
259882 nan
260854 nan
263778 nan
264267 nan
264850 nan
265280 nan
268792 nan
269117 nan
269859 nan
270799 nan
271377 nan
271818 nan
273010 nan
273251 nan
273951 nan
274067 nan
274959 nan
274960 nan
274961 nan
274962 nan
274963 nan
274964 nan
274965 nan
274966 nan
274967 nan
274968 nan
274969 nan
274970 nan
275315 nan
275342 nan
276457 nan
276629 nan
276630 nan
276631 nan
277577 nan
278166 nan
278410 nan
278578 nan
278603 nan
278783 nan
280348 nan
281476 nan
281835 nan
281881 nan
282259 nan
282666 nan
282727 nan
286465 nan
286617 nan
287408 nan
287719 nan
287878 nan
287889 nan
289320 nan

In [207]:
for i in range(0,len(modified_clean_address)):
        if modified_clean_address[i].find("E.") >= 0:
            modified_clean_address[i] = modified_clean_address[i].replace('E.','E ').replace('  ', ' ')

In [208]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("W.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('W.','W ').replace('  ', ' ')

In [209]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(".h") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('.h',', h. ').replace(',,',',').replace('  ',' ')

In [210]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(",c") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(',c',' c')

In [211]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" c. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('c.','c')

In [212]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" n. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(' n. ',' n ')

In [213]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h r','h. rear').replace('rear.','rear ')

In [214]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h. r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h. r','h. rear').replace('rear.','rear ')

In [215]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("h'") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("h'","h. ")

In [216]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("th") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("th","h")

In [217]:
modified_clean_address[0]

'h. 11 Eldridge'

In [218]:
#re.findall(r'. 1', '.1')

In [219]:
import re

modified_clean_address4 = []
intersections_n_1 = []
intersections_n_2 = []

intersections_c_1 = []
intersections_c_2 = []

for i in range(0,len(modified_clean_address)):
    temp = modified_clean_address[i]
    
    
    
    
    """
    string_with_th = re.findall(r'[0-9]+th', temp)
    for j in range (0, len(string_with_th)):
        temp = temp.replace(string_with_th[j], string_with_th[j].replace('th',''))
    
    string_with_d = re.findall(r'[0-9]+d', temp)
    for j in range (0, len(string_with_d)):
        temp = temp.replace(string_with_d[j], string_with_d[j].replace('d',''))
    
    string_with_rd = re.findall(r'[0-9]+rd', temp)
    for j in range (0, len(string_with_rd)):
        temp = temp.replace(string_with_rd[j], string_with_rd[j].replace('rd',''))
    
    string_with_st = re.findall(r'[0-9]+st', temp)
    for j in range (0, len(string_with_st)):
        temp = temp.replace(string_with_st[j], string_with_st[j].replace('st',''))
    
    string_with_h_dot = re.findall(r'h.+[0-9]', temp)
    for j in range (0, len(string_with_h_dot)):
        temp = temp.replace(string_with_h_dot[j], string_with_h_dot[j].replace('h.','h. ').replace('  ',' '))
    
    string_with_h = re.findall(r'h+[0-9]', temp)
    for j in range (0, len(string_with_h)):
        temp = temp.replace(string_with_h[j], string_with_h[j].replace('h','h ').replace('  ',' '))
        
    string_with_fullstop = re.findall(r'. +[0-9]', temp)
    for j in range (0, len(string_with_fullstop)):
        temp = temp.replace(string_with_fullstop[j], string_with_fullstop[j].replace('.','. h ').replace('  ',' '))
    
    string_with_comma = re.findall(r', +[0-9]', temp)
    for j in range (0, len(string_with_comma)):
        temp = temp.replace(string_with_comma[j], string_with_comma[j].replace(',',', h ').replace('  ',' '))
    
    string_with_bracket = re.findall(r'\) +[0-9]', temp)
    for j in range (0, len(string_with_bracket)):
        temp = temp.replace(string_with_bracket[j], string_with_bracket[j].replace(')',') h ').replace('  ',' '))
    
    string_with_dash = re.findall(r'-+[0-9]', temp)
    for j in range (0, len(string_with_dash)):
        temp = temp.replace(string_with_dash[j], string_with_dash[j].replace('-','').replace('  ',' '))
    
    string_with_fullstop_number = re.findall(r'.+[0-9]', temp)
    for j in range (0, len(string_with_fullstop_number)):
        temp = temp.replace(string_with_fullstop_number[j], string_with_fullstop_number[j].replace('.','').replace('  ',' '))
    
    
    string_with_S_1 = re.findall(r'[0-9]+S', temp)
    string_with_S_2 = re.findall(r'S+[0-9]', temp)
    string_with_S = string_with_S_1 + string_with_S_2
    for j in range (0, len(string_with_S)):
        #print(i,string_with_S)
        temp = temp.replace(string_with_S[j], string_with_S[j].replace('S','5'))
        #print(temp)
    
    
    """
    
    
    
    try:
        location_of_h_1 = temp.split().index('h.')
    except:
        location_of_h_1 = -1
    try:
        location_of_h_2 = temp.split().index('h')
    except:
        location_of_h_2 = -1
    #print(location_of_h_1, location_of_h_2)

    location_of_h = max(location_of_h_1, location_of_h_2)
    """
    if location_of_h_1>0:
        if location_of_h_2<0:
            location_of_h = location_of_h_1
        else:
            #print(i,'in exception1')
            #print(location_of_h_1, location_of_h_2)
            location_of_h = max(location_of_h_1, location_of_h_2)
    
    else:
        if location_of_h_2 > 0:
            location_of_h = location_of_h_2
        else:
            print(i,'in exception2')
            print(location_of_h_1, location_of_h_2)
            location_of_h = -1
    """
    temp = temp.replace('^','')
    
    
    
    """
    temp = temp.replace('ft.','')
    temp = temp.replace('ft','')
    temp = temp.replace('Ft.','')
    """
    
    undesired_starts = ['.',' .',',',' ,','-',' -','- ',', ','. ',"'","' "," '","''",'&','*','& ','* ',
                       ' &',' *']
    for i in range(0,len(undesired_starts)):
        if temp[0:2].find(undesired_starts[i])>=0:
            temp = temp[0:2].replace(undesired_starts[i],'') + temp[2:]
    
    words_after_h = temp.split()[location_of_h+1:]
    try:
        location_of_n = words_after_h.index('n')
        intersection_n_street1 = ' '.join(words_after_h[0:location_of_n])
        intersection_n_street2 = ' '.join(words_after_h[location_of_n+1:])

        intersections_n_1.append(intersection_n_street1)
        intersections_n_2.append(intersection_n_street2)
    except:
        intersections_n_1.append('')
        intersections_n_2.append('')
    
    try:
        location_of_c = words_after_h.index('c')
        intersection_c_street1 = ' '.join(words_after_h[0:location_of_c])
        intersection_c_street2 = ' '.join(words_after_h[location_of_c+1:])

        intersections_c_1.append(intersection_c_street1)
        intersections_c_2.append(intersection_c_street2)
    except:
        intersections_c_1.append('')
        intersections_c_2.append('')
    
    modified_clean_address4.append(temp)

In [220]:
#for i in range(0,len(intersections_c_1)):
    #print(i, intersections_c_1[i] + ' and ' + intersections_c_2[i])

In [221]:
for i in range(0,len(modified_clean_address4)):
    if modified_clean_address4[i].find(".h") >= 0:
        print(i, modified_clean_address4[i])

In [222]:
#for i in range(0,len(modified_clean_address)):
    #if modified_clean_address[i].find(" n ") >0:
        #print(i, modified_clean_address[i])

In [223]:
df['modified_clean_address'] = modified_clean_address4

In [224]:
df['n_street1'] = intersections_n_1
df['n_street2'] = intersections_n_2
df['c_street1'] = intersections_c_1
df['c_street2'] = intersections_c_2

In [225]:
#df.head()

In [226]:
#df.to_excel('doubt/not so confident2.xlsx')

In [227]:
df_modified_addresses = pd.DataFrame(modified_clean_address4, columns=['clean_address'])

In [228]:
#pd.DataFrame(modified_clean_address2).to_csv('doubt/doubt2.txt', header=None,  sep=' ', mode='a')

In [229]:
temp_addr = []
for i in range(0,len(df_modified_addresses)):
    temp_addr.append(str(i)+" "+df_modified_addresses['clean_address'][i])
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [230]:
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [231]:
#df.head()

In [232]:
#df.columns

In [233]:
#df.head()

In [234]:
df['n_street1'] = df['n_street1'].replace('',np.nan)
df['n_street2'] = df['n_street2'].replace('',np.nan)
df['c_street1'] = df['c_street1'].replace('',np.nan)
df['c_street2'] = df['c_street2'].replace('',np.nan)

In [235]:
#df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna() & df['new h house number'].isna() & df['new h street name'].isna(), 1, 0)
#was initially uncommented

df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna(), 1, 0)

In [236]:
df_filter11 = df.loc[df['filter11'] == 1]
df_filter11 = df_filter11.reset_index()

In [237]:
#df_filter11['modified_clean_address']

In [238]:
modified_clean_address5 = []
for i in range(0,len(df_filter11)):
    temp = df_filter11['modified_clean_address'][i]
    
    string_with_S = re.findall(r'[0-9]+S', temp)
    for i in range (0, len(string_with_S)):
        temp = temp.replace(string_with_S[i], string_with_S[i].replace('S','5'))
    modified_clean_address5.append(temp)

In [239]:
#for i in range(0,len(modified_clean_address5)):
    #print(i, modified_clean_address5[i])

In [240]:
#for i in range(0,len(modified_clean_address5)):
    #if modified_clean_address5[i].find("h. ") <0:
        #print(i, modified_clean_address5[i])

In [241]:
df['modified_clean_address'][10:16]

10                     h 352 Third av .
11                       h 121 Columbia
12        108 Vesey, h. 200 E , Houston
13    367 Third av ., h. 352 Third av .
14                       h 108 Chrystie
15                       h 208 E . 49th
Name: modified_clean_address, dtype: object

In [242]:
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearear','rear')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearefused','refused')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('h. r ','h. rear ')

In [243]:
df

,Unnamed: 0,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,...,Address 2 Street Name,Address 2 City,Index,Full Entry,modified_clean_address,n_street1,n_street2,c_street1,c_street2,filter11
0,0,Aab Rosina,Rosina,Aab,NaN,True,Aab,NaN,NaN,h. 11 Eldridge,...,NaN,NaN,NaN,NaN,h 11 Eldridge,NaN,NaN,NaN,NaN,1
1,1,Aalholm Matthias,Matthias,Aalholm,NaN,False,NaN,NaN,sundries,"97 William, h. 66 Ft .",...,97 William,NaN,NaN,NaN,"97 William, h. 66 Ft .",NaN,NaN,NaN,NaN,1
2,2,Greene pl,pl,Greene,NaN,False,NaN,NaN,NaN,. Bâ€™klyn,...,NaN,NaN,NaN,NaN,Bâ€™klyn,NaN,NaN,NaN,NaN,1
3,3,Aaron Edward,Edward,Aaron,NaN,False,NaN,NaN,beer,184 Forsyth,...,NaN,NaN,NaN,NaN,184 Forsyth,NaN,NaN,NaN,NaN,1
4,4,Aaron Elias,Elias,Aaron,NaN,False,NaN,NaN,carpets,60 Eldridge,...,NaN,NaN,NaN,NaN,60 Eldridge,NaN,NaN,NaN,NaN,1
5,5,Aaron Ellis E,Ellis,Aaron,E,False,NaN,NaN,NaN,h. 214 E . 13th,...,NaN,NaN,NaN,NaN,h 214 E . 13th,NaN,NaN,NaN,NaN,1
6,6,Aaron Emil,Emil,Aaron,NaN,False,NaN,NaN,imp,"53 Walker, h. 70 W . 48th",...,53 Walker,NaN,NaN,NaN,"53 Walker, h. 70 W . 48th",NaN,NaN,NaN,NaN,1
7,7,Aaron Gerson,Gerson,Aaron,NaN,False,NaN,NaN,teacher,h. 171 Attorney,...,NaN,NaN,NaN,NaN,h 171 Attorney,NaN,NaN,NaN,NaN,1
8,8,Aaron: Isidor,Isidor,Aaron:,NaN,False,NaN,NaN,pawnbroker,197 Grand,...,NaN,NaN,NaN,NaN,197 Grand,NaN,NaN,NaN,NaN,1
9,9,Aaron Isidor,Isidor,Aaron,NaN,False,NaN,NaN,tidies,"42 Clinton, h. 109 Hester",...,42 Clinton,NaN,NaN,NaN,"42 Clinton, h. 109 Hester",NaN,NaN,NaN,NaN,1
10,10,Aaron Joachim,Joachim,Aaron,NaN,False,NaN,NaN,NaN,h. 352 Third av .,...,NaN,NaN,NaN,NaN,h 352 Third av .,NaN,NaN,NaN,NaN,1
11,11,Aaron Joachim,Joachim,Aaron,NaN,False,NaN,NaN,pedlar,h. 121 Columbia,...,NaN,NaN,NaN,NaN,h 121 Columbia,NaN,NaN,NaN,NaN,1
12,12,Aaron John,John,Aaron,NaN,False,NaN,NaN,provns,"108 Vesey, h. 200 E , Houston",...,108 Vesey,NaN,NaN,NaN,"108 Vesey, h. 200 E , Houston",NaN,NaN,NaN,NaN,1
13,13,Aaron Jos,Jos,Aaron,NaN,False,NaN,NaN,broker,"367 Third av ., h. 352 Third av .",...,367 Third av .,NaN,NaN,NaN,"367 Third av ., h. 352 Third av .",NaN,NaN,NaN,NaN,1
14,14,Aaron Julius,Julius,Aaron,NaN,False,NaN,NaN,clerk,h. 108 Chrystie,...,NaN,NaN,NaN,NaN,h 108 Chrystie,NaN,NaN,NaN,NaN,1
15,15,Aaron Julius,Julius,Aaron,NaN,False,NaN,NaN,clerk,h. 208 E . 49th,...,NaN,NaN,NaN,NaN,h 208 E . 49th,NaN,NaN,NaN,NaN,1
16,16,Aaron Levi,Levi,Aaron,NaN,False,NaN,NaN,real estate,811 E . 43d,...,NaN,NaN,NaN,NaN,811 E . 43d,NaN,NaN,NaN,NaN,1
17,17,Aaron Louis,Louis,Aaron,NaN,False,NaN,NaN,tailor,h. 132 Orchard,...,NaN,NaN,NaN,NaN,h 132 Orchard,NaN,NaN,NaN,NaN,1
18,18,Aaron Michael,Michael,Aaron,NaN,False,NaN,NaN,porter,hS2 Av . B,...,NaN,NaN,NaN,NaN,hS2 Av . B,NaN,NaN,NaN,NaN,1
19,19,Aaron Morris,Morris,Aaron,NaN,False,NaN,NaN,cutter,h. 59 Attorney,...,NaN,NaN,NaN,NaN,h 59 Attorney,NaN,NaN,NaN,NaN,1
20,20,Aaron Otto,Otto,Aaron,NaN,False,NaN,NaN,clerk,h. 139 Third av .,...,NaN,NaN,NaN,NaN,h 139 Third av .,NaN,NaN,NaN,NaN,1
21,21,Aaron Pauline,Pauline,Aaron,NaN,True,Aaron,NaN,NaN,"h. 311 EB , 43a",...,NaN,NaN,NaN,NaN,"h 311 EB , 43a",NaN,NaN,NaN,NaN,1
22,22,Aaron-Peter M,M,Aaron-Peter,NaN,False,NaN,NaN,porter,h. 363 Eighth,...,NaN,NaN,NaN,NaN,h 363 Eighth,NaN,NaN,NaN,NaN,1
23,23,Aaron Philip,Philip,Aaron,NaN,False,NaN,NaN,clothier,"801 Eighth av ., h. %9 Eighth av .",...,801 Eighth av .,NaN,NaN,NaN,"801 Eighth av ., h. %9 Eighth av .",NaN,NaN,NaN,NaN,1
24,24,Aaron Samuel,Samuel,Aaron,NaN,False,NaN,NaN,NaN,h. 305 E . 73d,...,NaN,NaN,NaN,NaN,h 305 E . 73d,NaN,NaN,NaN,NaN,1
25,25,Aaron T,T,Aaron,NaN,False,NaN,NaN,ties,"45 Walker, h. 305 E , 73d",...,45 Walker,NaN,NaN,NaN,"45 Walker, h. 305 E , 73d",NaN,NaN,NaN,NaN,1
26,26,Aaron Wolf,Wolf,Aaron,NaN,False,NaN,NaN,tailor,238 Bleecker,...,NaN,NaN,NaN,NaN,238 Bleecker,NaN,NaN,NaN,NaN,1
27,27,Aaron Wolf,Wolf,Aaron,NaN,False,NaN,NaN,weaver,h. 64 Willett,...,NaN,NaN,NaN,NaN,h 64 Willett,NaN,NaN,NaN,NaN,1
28,28,Aaron & Alexander,&,Aaron,Alexander,False,NaN,NaN,imps,53 Walker,...,NaN,NaN,NaN,NaN,53 Walker,NaN,NaN,NaN,NaN,1
29,29,Aaron & Schlosser,&,Aaron,Schlosser,False,NaN,NaN,ties,45 Walker,...,NaN,NaN,NaN,NaN,45 Walker,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289961,272949,Abeel Fred. H,Fred.,Abeel,H,False,NaN,NaN,iron,"190 South,h 127 Second av.",...,South,NaN,272949.0,"Abeel Fred. H. iron, 190 South, h 127 Second av.","190 South,h 127 Second av.",NaN,NaN,NaN,NaN,1
289962,272954,Abeel Thomas J,Thomas,Abeel,J,False,NaN,NaN,laborer,h r 446 W. 41st,...,NaN,NaN,272954.0,"Abeel Thomas J. laborer, h r 446 W. 41st",h rear 446 W 41st,NaN,NaN,NaN,NaN,1
289963,272955,Abeel Brothers,Brothers,Abeel,NaN,False,NaN,NaN,iron,190 South & 365 Water,...,NaN,NaN,272955.0,"Abeel Brothers, iron, 190 South & 365 Water",190 South & 365 Water,NaN,NaN,NaN,NaN,1
289964,272956,Abegg Henry,Henry,Abegg,NaN,False,NaN,NaN,imp,"94 Grand,h 117 Schermerhorn , B’klyn",...,Grand,NaN,272956.0,"Abegg Henry, imp. 94 Grand, h 117 Schermerhorn...","94 Grand,h 117 Schermerhorn , B’klyn",NaN,NaN,NaN,NaN,1
289965,272957,Abel Adam,Adam,Abel,NaN,False,NaN,NaN,meat,779 Tenth av.,...,NaN,NaN,272957.0,"Abel Adam, meat, 779 Tenth av.",779 Tenth av.,NaN,NaN,NaN,NaN,1
289966,272959,Abel Anna M. wid. John,NaN,NaN,NaN,False,NaN,NaN,NaN,2190 Third av.,...,NaN,NaN,272959.0,"Abel Anna M. wid. John, 2190 Third av.",2190 Third av.,NaN,NaN,NaN,NaN,1
289967,272993,Abel C. C. & Co,NaN,NaN,NaN,False,NaN,NaN,mers,28 S. William,...,NaN,NaN,272993.0,Abel C. C. & Co. mers. 28 S. William,28 S. William,NaN,NaN,NaN,NaN,1
289968,272995,Abcle John J,John,Abcle,J,False,NaN,NaN,tailor,h 202 E. Houston,...,NaN,NaN,272995.0,"Abcle John J. tailor, h 202 E. Houston",h 202 E Houston,NaN,NaN,NaN,NaN,1
289969,273001,Abell Augustus,Augustus,Abell,NaN,False,NaN,NaN,NaN,h 22 E. 43d,...,NaN,NaN,273001.0,"Abell Augustus, h 22 E. 43d",h 22 E 43d,NaN,NaN,NaN,NaN,1
289970,273002,Abell Augustus,Augustus,Abell,NaN,False,NaN,NaN,turner,514 First av. h 308 E. 74th,...,NaN,NaN,273002.0,"Abell Augustus, turner, 514 First av. h 308 E....",514 First av. h 308 E 74th,NaN,NaN,NaN,NaN,1
289971,273005,Abell Rich. P. H,NaN,NaN,NaN,False,NaN,NaN,clerk,"2 City Hall,h 960 Sixth av.",...,City Hall,NaN,273005.0,"Abell Rich. P. H. clerk. 2 City Hall, h 960 Si...","2 City Hall,h 960 Sixth av.",NaN,NaN,NaN,NaN,1
289972,273006,Abell Samuel S,Samuel,Abell,S,False,NaN,NaN,printer,h 229 E. 82d,...,NaN,NaN,273006.0,"Abell Samuel S. printer, h 229 E. 82d",h 229 E 82d,NaN,NaN,NaN,NaN,1
289973,273007,Abell William H. H,NaN,NaN,NaN,False,NaN,NaN,clerk,h 337 E. 80th,...,NaN,NaN,273007.0,"Abell William H. H. clerk, h 337 E. 80th",h 337 E 80th,NaN,NaN,NaN,NaN,1
289974,273011,Abels H’y,H’y,Abels,NaN,False,NaN,NaN,crockery,"161 E. Houston,h 33 Seventh",...,E. Houston,NaN,273011.0,"Abels H’y, crockery, 161 E. Houston, h 33 Seventh","161 E Houston,h 33 Seventh",NaN,NaN,NaN,NaN,1
289975,273016,Abendroth A. Howard,A.,Abendroth,Howard,False,NaN,NaN,sec,"28 Cliff,h 10 W. 38th",...,Cliff,NaN,273016.0,"Abendroth A. Howard, sec. 28 Cliff, h 10 W. 38th","28 Cliff,h 10 W 38th",NaN,NaN,NaN,NaN,1
289976,273019,Aab Rosina. wid. Louis,NaN,NaN,NaN,False,NaN,NaN,NaN,h 11 Eldridge,...,NaN,NaN,273019.0,"Aab Rosina. wid. Louis, h 11 Eldridge",h 11 Eldridge,NaN,NaN,NaN,NaN,1
289977,273035,Aaron Loui.s,Loui.s,Aaron,NaN,False,NaN,NaN,tailor,h 132 Orchard,...,NaN,NaN,273035.0,"Aaron Loui.s, tailor, h 132 Orchard",h 132 Orchard,NaN,NaN,NaN,NaN,1
289978,273040,Aaron Peter M,Peter,Aaron,M,False,NaN,NaN,porter,h 363 Eighth,...,NaN,NaN,273040.0,"Aaron Peter M. porter, h 363 Eighth",h 363 Eighth,NaN,NaN,NaN,NaN,1
289979,273052,Aarons Emil,Emil,Aarons,NaN,False,NaN,NaN,cutter,h 128 Orchard,...,NaN,NaN,273052.0,"Aarons Emil, cutter, h 128 Orchard",h 128 Orchard,NaN,NaN,NaN,NaN,1
289980,273063,Abarbanell Henry',Henry',Abarbanell,NaN,False,NaN,NaN,teacher,h 246 E. 44th,...,NaN,NaN,273063.0,"Abarbanell Henry', teacher, h 246 E. 44th",h 246 E 44th,NaN,NaN,NaN,NaN,1
289981,273068,Abbatt Caroline A. wid. Isaac,NaN,NaN,NaN,False,NaN,NaN,NaN,h 139 W. 22d,...,NaN,NaN,273068.0,"Abbatt Caroline A. wid. Isaac, h 139 W. 22d",h 139 W 22d,NaN,NaN,NaN,NaN,1
289982,273070,Abbe Charlotte C. wid. George W,NaN,NaN,NaN,False,NaN,NaN,NaN,h 32E. 20th,...,NaN,NaN,273070.0,Abbe Charlotte C. wid. George W. h 32E. 20th,h 32E 20th,NaN,NaN,NaN,NaN,1
289983,273071,Abbe Rob't,Rob't,Abbe,NaN,False,NaN,NaN,physician,282 Fourth av. h 32 E. 20th,...,NaN,NaN,273071.0,"Abbe Rob't, physician, 282 Fourth av. h 32 E. ...",282 Fourth av. h 32 E 20th,NaN,NaN,NaN,NaN,1
289984,273072,Abbe Walter,Walter,Abbe,NaN,False,NaN,NaN,clerk,h 32 E. 20th,...,NaN,NaN,273072.0,"Abbe Walter, clerk, h 32 E. 20th",h 32 E 20th,NaN,NaN,NaN,NaN,1
289985,273077,Abbots Theodore,Theodore,Abbots,NaN,False,NaN,NaN,weigher,h 19 Jay,...,NaN,NaN,273077.0,"Abbots Theodore, weigher, h 19 Jay",h 19 Jay,NaN,NaN,NaN,NaN,1
289986,273078,Abbett Edwin L,Edwin,Abbett,L,False,NaN,NaN,lawyer,"128 B’way,h 52 W. 24th",...,B’way,NaN,273078.0,"Abbett Edwin L. lawyer, 128 B’way, h 52 W. 24th","128 B’way,h 52 W 24th",NaN,NaN,NaN,NaN,1
289987,273083,Abbey E. A,E.,Abbey,A,False,NaN,NaN,artist,331 Pearl,...,NaN,NaN,273083.0,"Abbey E. A. artist, 331 Pearl",331 Pearl,NaN,NaN,NaN,NaN,1
289988,273085,Aborn C. B,C.,Aborn,B,False,NaN,NaN,mer,94 Wall,...,NaN,NaN,273085.0,Aborn C. B. mer. 94 Wall,94 Wall,NaN,NaN,NaN,NaN,1
289989,273087,Altman Sigismund,Sigismund,Altman,NaN,False,NaN,NaN,tailor,"r 84 R,idge,h 252 Delancey",...,"R,idge",NaN,273087.0,"Altman Sigismund, tailor, r 84 R,idge, h 252 D...","r 84 R,idge,h 252 Delancey",NaN,NaN,NaN,NaN,1
289990,273088,Ames E. F,E.,Ames,F,False,NaN,NaN,covers,189 B’way,...,NaN,NaN,273088.0,"Ames E. F. covers, 189 B’way",189 B’way,NaN,NaN,NaN,NaN,1

In [244]:
#df.to_excel('/Users/prajwal/Desktop/Columbia/C4SR/mn_1880/not so confident-mn1880-v7.xlsx')

In [245]:
df.to_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-2.xlsx')