In [17]:
import pandas as pd
import numpy as np
import re

In [18]:
mn_or_bk = 'mn' #bk or mn
year = '1850'
#doubttype = 'not so confident' #doubt or not so confident
#doubttype = 'not so confident' #doubt or not so confident

In [19]:
#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/after cleaning/' + mn_or_bk + '_' + year + '_after_cleaning_' + doubttype + '4.csv')

#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run2/after cleaning/bk-1850-3-s-combine-clean.csv')
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3-s-combine-clean.csv')

In [20]:

df.columns = ['index', 'Full Address', 'H House Number','H Street Name', 
              'c_street1', 'c_street2', 'n_street1', 'n_street2', 'H City',
              'H Address', 'Address 2', 'Address 2 House Number', 'Address 2 Street Name',
              'Address 2 City'
             ]

"""
df.columns = ['index', 'Full Address', 'H House Number', 
              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', 
              'new h city', 'new h house number', 'new h street name', 'unidentified h info']

df.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', 
              'H House Number', 
              'H Street Name', 
              'new h house number', 'new h street name','new h city', 'unidentified h info']
"""

"\ndf.columns = ['index', 'Full Address', 'H House Number', \n              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', \n              'new h city', 'new h house number', 'new h street name', 'unidentified h info']\n\ndf.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', \n              'H House Number', \n              'H Street Name', \n              'new h house number', 'new h street name','new h city', 'unidentified h info']\n"

In [21]:
df = df.drop(['index'], axis=1)

In [22]:
#df.loc[pd.isna(df['H House Number']) == True and pd.isna(df['Address 2']) == False]

In [23]:
df.head(100)

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,H City,H Address,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City
0,39 PEARL,39.0,PEARL,NaN,NaN,NaN,NaN,NaN,39 PEARL,NaN,NaN,NaN,NaN
1,170 CLINTON BROOKLYN,170.0,CLINTON,NaN,NaN,NaN,NaN,BROOKLYN,170 CLINTON BROOKLYN,NaN,NaN,NaN,NaN
2,601 WASHINGTON,601.0,WASHINGTON,NaN,NaN,NaN,NaN,NaN,601 WASHINGTON,NaN,NaN,NaN,NaN
3,328 BOWERY,328.0,BOWERY,NaN,NaN,NaN,NaN,NaN,328 BOWERY,NaN,NaN,NaN,NaN
4,42 ORANGE,42.0,ORANGE,NaN,NaN,NaN,NaN,NaN,42 ORANGE,NaN,NaN,NaN,NaN
5,77 BARROW,77.0,BARROW,NaN,NaN,NaN,NaN,NaN,77 BARROW,NaN,NaN,NaN,NaN
6,E 586 4,586.0,E 4,NaN,NaN,NaN,NaN,NaN,E 586 4,NaN,NaN,NaN,NaN
7,34 AVE C,34.0,AVE C,NaN,NaN,NaN,NaN,NaN,34 AVE C,NaN,NaN,NaN,NaN
8,34 AVE C,34.0,AVE C,NaN,NaN,NaN,NaN,NaN,34 AVE C,NaN,NaN,NaN,NaN
9,40 AVE C,40.0,AVE C,NaN,NaN,NaN,NaN,NaN,40 AVE C,NaN,NaN,NaN,NaN
10,175 CANAL,175.0,CANAL,NaN,NaN,NaN,NaN,NaN,175 CANAL,NaN,NaN,NaN,NaN
11,137 NORFOLK,137.0,NORFOLK,NaN,NaN,NaN,NaN,NaN,137 NORFOLK,NaN,NaN,NaN,NaN
12,53 AVE D,53.0,AVE D,NaN,NaN,NaN,NaN,NaN,53 AVE D,NaN,NaN,NaN,NaN
13,5 LUDLOW,5.0,LUDLOW,NaN,NaN,NaN,NaN,NaN,5 LUDLOW,NaN,NaN,NaN,NaN
14,1 AVE D,1.0,AVE D,NaN,NaN,NaN,NaN,NaN,1 AVE D,NaN,NaN,NaN,NaN
15,MORRISANIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MORRISANIA,NaN,NaN,NaN,NaN
16,7 MURRAY,7.0,MURRAY,NaN,NaN,NaN,NaN,NaN,7 MURRAY,NaN,NaN,NaN,NaN
17,192 FULTON,192.0,FULTON,NaN,NaN,NaN,NaN,NaN,192 FULTON,NaN,NaN,NaN,NaN
18,91 HENRY BROOKLYN,91.0,HENRY,NaN,NaN,NaN,NaN,BROOKLYN,91 HENRY BROOKLYN,NaN,NaN,NaN,NaN
19,181 INVENTOR,181.0,INVENTOR,NaN,NaN,NaN,NaN,NaN,181 INVENTOR,NaN,NaN,NaN,NaN
20,79 AVE B,79.0,AVE B,NaN,NaN,NaN,NaN,NaN,79 AVE B,NaN,NaN,NaN,NaN
21,66 MANGIN,66.0,MANGIN,NaN,NaN,NaN,NaN,NaN,66 MANGIN,NaN,NaN,NaN,NaN
22,3049,304.0,9,NaN,NaN,NaN,NaN,NaN,3049,NaN,NaN,NaN,NaN
23,E N 18 AVE A,NaN,NaN,NaN,NaN,E 18,AVE A,E N 18 AVE A,E N 18 AVE A,NaN,NaN,NaN,NaN
24,6054,605.0,4,NaN,NaN,NaN,NaN,NaN,6054,NaN,NaN,NaN,NaN
25,24 AVE C 3,NaN,NaN,24,AVE 3,NaN,NaN,24 AVE C 3,24 AVE C 3,NaN,NaN,NaN,NaN
26,29411,294.0,11,NaN,NaN,NaN,NaN,NaN,29411,NaN,NaN,NaN,NaN
27,60 AVE C,60.0,AVE C,NaN,NaN,NaN,NaN,NaN,60 AVE C,NaN,NaN,NaN,NaN
28,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN,NaN,NaN,NaN,NaN
29,22 VESEY,22.0,VESEY,NaN,NaN,NaN,NaN,NaN,22 VESEY,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,173 WOOSTER,173.0,WOOSTER,NaN,NaN,NaN,NaN,NaN,173 WOOSTER,NaN,NaN,NaN,NaN
71,W 95 13,95.0,W 13,NaN,NaN,NaN,NaN,NaN,W 95 13,NaN,NaN,NaN,NaN
72,174 CHAMBERS,174.0,CHAMBERS,NaN,NaN,NaN,NaN,NaN,174 CHAMBERS,NaN,NaN,NaN,NaN
73,34 LIBERTY,34.0,LIBERTY,NaN,NaN,NaN,NaN,NaN,34 LIBERTY,NaN,NaN,NaN,NaN
74,12 C DRY DOCK,NaN,NaN,12,DRY DOCK,NaN,NaN,12 C DRY DOCK,12 C DRY DOCK,NaN,NaN,NaN,NaN
75,53 MONROE,53.0,MONROE,NaN,NaN,NaN,NaN,NaN,53 MONROE,NaN,NaN,NaN,NaN
76,72 LEWIS,72.0,LEWIS,NaN,NaN,NaN,NaN,NaN,72 LEWIS,NaN,NaN,NaN,NaN
77,141 NORFOLK,141.0,NORFOLK,NaN,NaN,NaN,NaN,NaN,141 NORFOLK,NaN,NaN,NaN,NaN
78,E 166 20,166.0,E 20,NaN,NaN,NaN,NaN,NaN,E 166 20,NaN,NaN,NaN,NaN
79,201 AVE 3,201.0,AVE 3,NaN,NaN,NaN,NaN,NaN,201 AVE 3,NaN,NaN,NaN,NaN
80,93 RIDGE,93.0,RIDGE,NaN,NaN,NaN,NaN,NaN,93 RIDGE,NaN,NaN,NaN,NaN
81,43310,433.0,10,NaN,NaN,NaN,NaN,NaN,43310,NaN,NaN,NaN,NaN
82,86 AVE 2,86.0,AVE 2,NaN,NaN,NaN,NaN,NaN,86 AVE 2,NaN,NaN,NaN,NaN
83,180 AVE C,180.0,AVE C,NaN,NaN,NaN,NaN,NaN,180 AVE C,NaN,NaN,NaN,NaN
84,128 CHARLTON,128.0,CHARLTON,NaN,NaN,NaN,NaN,NaN,128 CHARLTON,NaN,NaN,NaN,NaN
85,180 GRAND,180.0,GRAND,NaN,NaN,NaN,NaN,NaN,180 GRAND,NaN,NaN,NaN,NaN
86,7 BROAD,7.0,BROAD,NaN,NaN,NaN,NaN,NaN,7 BROAD,NaN,NaN,NaN,NaN
87,14 CLARKSON,14.0,CLARKSON,NaN,NaN,NaN,NaN,NaN,14 CLARKSON,NaN,NaN,NaN,NaN
88,2 CONGRESS,2.0,CONGRESS,NaN,NaN,NaN,NaN,NaN,2 CONGRESS,NaN,NaN,NaN,NaN
89,104 FE 11,104.0,FE 11,NaN,NaN,NaN,NaN,NaN,104 FE 11,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,165 PEARL,165.0,PEARL,NaN,NaN,NaN,NaN,NaN,165 PEARL,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,CT,DEGRAW BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN
93,400 BROADWAY,400.0,BROADWAY,NaN,NaN,NaN,NaN,NaN,400 BROADWAY,NaN,NaN,NaN,NaN
94,W N 2 AVE 8,NaN,NaN,NaN,NaN,W 2,AVE 8,W N 2 AVE 8,W N 2 AVE 8,NaN,NaN,NaN,NaN
95,121 PEARL,121.0,PEARL,NaN,NaN,NaN,NaN,NaN,121 PEARL,NaN,NaN,NaN,NaN
96,746 WASHINGTON,746.0,WASHINGTON,NaN,NaN,NaN,NaN,NaN,746 WASHINGTON,NaN,NaN,NaN,NaN
97,88 WHITE,88.0,WHITE,NaN,NaN,NaN,NaN,NaN,88 WHITE,NaN,NaN,NaN,NaN
98,3053,305.0,3,NaN,NaN,NaN,NaN,NaN,3053,NaN,NaN,NaN,NaN
99,W N 28 AVE 7,NaN,NaN,NaN,NaN,W 28,AVE 7,W N 28 AVE 7,W N 28 AVE 7,NaN,NaN,NaN,NaN

In [24]:
# Combines data from various columns into two: hn_1 (for house number) and best_match (for street name)

In [25]:
hn_1 = {}
best_match = {}

for i in range(0,len(df)):
    hn_1[i] = df['H House Number'][i]
    best_match[i] = df['H Street Name'][i]

for i in range(0,len(df)):
#for i in range(35,36):
    #print('begin',hn_1[i],best_match[i])
    
    #handle corner cases
    if pd.isna(df['c_street1'][i]) == False or pd.isna(df['c_street2'][i]) == False:
        #print('1',i)
        try:
            best_match[i] = str(df['c_street1'][i]) + ' & ' + str(df['c_street2'][i])
        except:
            if pd.isna(df['c_street1'][i]) == False:
                best_match[i] = str(df['c_street1'])
            else:
                best_match[i] = str(df['c_street2'])
                
    #handle near cases
    elif pd.isna(df['n_street1'][i]) == False or pd.isna(df['n_street2'][i]) == False:
        #print('2',i)
        try:
            best_match[i] = str(df['n_street1'][i]) + ' & ' + str(df['n_street2'][i])
        except:
            if pd.isna(df['n_street1'][i]) == False:
                best_match[i] = str(df['n_street1'])
            else:
                best_match[i] = str(df['n_street2'])
    
    #if corner and near cases don't have any data, use H House Number and H Street Name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('3',i)
        #try:
            #hn_1[i] = df['H House Number'][i]
        #except:
            #pass
        try:
            best_match[i] = df['H City'][i]
        except:
            pass
        
        
    """
    #if everything above didn't work, use new h house number and new h street name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    #if everything above still didn't work, use new h city for best_match
    elif pd.isna(df['new h city'][i]) == False and pd.isna(best_match[i]) == True:
        #print('5',i)
        best_match[i] = df['new h city'][i]
    
    # return a blank house number and Full Address for best_match if nothing above worked
    else:
        if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
            #print('6',i)
            hn_1[i] = ''
            best_match[i] = df['Full Address'][i]
            
    """
    
    """
    elif pd.isna(df['H House Number'][i]) == False or pd.isna(df['H Street Name'][i]) == False:
        print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    
    elif pd.isna(df['new h house number'][i]) == False or pd.isna(df['new h street name'][i]) == False:
        print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    elif pd.isna(df['new h city'][i]) == False:
        print('5',i)
        best_match[i] = df['new h city'][i]
    
    else:
        print('6',i)
        hn_1[i] = ''
        best_match[i] = df['Full Address'][i]
    """
    #if pd.isna(df['H House Number'][i]) == True and pd.isna(df['new h house number'][i]) == True:
        #print('7',i)
        #hn_1[i] = ''
    
    if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
        #print('7',i)
        hn_1[i] = ''
        best_match[i] = df['H Address'][i]

In [26]:
df2 = pd.DataFrame([list(hn_1.values()), list(best_match.values())])

In [27]:
df2 = df2.T

In [28]:
df2.columns = ['hn_1','best_match']

In [29]:
"""
def find_number(text):
    num = re.findall(r'[0-9]+',str(text))
    return " ".join(num)
df2['hn_1']=df2['hn_1'].apply(lambda x: find_number(x))
"""

'\ndef find_number(text):\n    num = re.findall(r\'[0-9]+\',str(text))\n    return " ".join(num)\ndf2[\'hn_1\']=df2[\'hn_1\'].apply(lambda x: find_number(x))\n'

In [30]:
df2

      hn_1       best_match
0       39            PEARL
1      170          CLINTON
2      601       WASHINGTON
3      328           BOWERY
4       42           ORANGE
5       77           BARROW
6      586              E 4
7       34            AVE C
8       34            AVE C
9       40            AVE C
10     175            CANAL
11     137          NORFOLK
12      53            AVE D
13       5           LUDLOW
14       1            AVE D
15               MORRISANIA
16       7           MURRAY
17     192           FULTON
18      91            HENRY
19     181         INVENTOR
20      79            AVE B
21      66           MANGIN
22     304                9
23     NaN     E 18 & AVE A
24     605                4
25     NaN       24 & AVE 3
26     294               11
27      60            AVE C
28                 BROOKLYN
29      22            VESEY
...    ...              ...
80539            MONTGOMERY
80540                   NaN
80541                BROOME
80542                   25T
80543              BROADWAY
80544              DOMINICK
80545    1              NaN
80546          WILLIAMSBURG
80547                   NaN
80548    4        DEPAU ROW
80549                   DEG
80550   69         UNION PL
80551                   DEL
80552    6        S MARK PL
80553                   NaN
80554                   NaN
80555                 RSLEY
80556                   NaN
80557                   NaN
80558              BROOKLYN
80559  250            AVE 4
80560   25         BROADWAY
80561  NaN  BROADWAY & W 28
80562  NaN     WASHINGTON A
80563  NaN    WASHINGTON PL
80564             LIAMSBURG
80565                   WIL
80566                   DEM
80567                   DEN
80568  NaN       34 & AVE 9

[80569 rows x 2 columns]

In [31]:
#df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/for address builder/' + mn_or_bk + '_' + year + '_' + doubttype + '_ready4.csv')
df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-for-address-builder.csv')

In [32]:
#df.loc[[37400]]